# The Pandas Series Object

In [1]:
import pandas as pd
pd.__version__

'1.3.4'

In [2]:
import numpy as np

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1],
                index = ['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['b']

0.5

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1],
                 [2,5,4,3])
data

2    0.25
5    0.50
4    0.75
3    1.00
dtype: float64

In [11]:
data[3]

1.0

In [12]:
data[2]

0.25

In [14]:
population_dict = {'Ha Noi':8053663,
                   'Thanh Hoa': 3640128,
                   'Nghe An': 3327791,
                   'Da Nang': 1134310,
                   'Hue': 1128620}
population = pd.Series(population_dict)
population

Ha Noi       8053663
Thanh Hoa    3640128
Nghe An      3327791
Da Nang      1134310
Hue          1128620
dtype: int64

In [15]:
population['Thanh Hoa']

3640128

In [16]:
population['Thanh Hoa':'Hue']

Thanh Hoa    3640128
Nghe An      3327791
Da Nang      1134310
Hue          1128620
dtype: int64

In [17]:
pd.Series([3,4,5])

0    3
1    4
2    5
dtype: int64

In [18]:
pd.Series(4, index=[100,200,300])

100    4
200    4
300    4
dtype: int64

In [19]:
pd.Series({2:'a', 3:'b', 4:'c'})

2    a
3    b
4    c
dtype: object

In [20]:
pd.Series({2:'a', 3:'b', 4:'c'}, index=[3,2])

3    b
2    a
dtype: object

# The Pandas DataFrame Object

In [21]:
area_dict = {'Ha Noi': 3358.9,
             'Thanh Hoa': 11130.2,
             'Nghe An': 16493.7,
             'Da Nang': 1284.9,
             'Hue': 5033.2}
area = pd.Series(area_dict)
area

Ha Noi        3358.9
Thanh Hoa    11130.2
Nghe An      16493.7
Da Nang       1284.9
Hue           5033.2
dtype: float64

In [22]:
cities = pd.DataFrame({'population':population,
                       'area':area})
cities

           population     area
Ha Noi        8053663   3358.9
Thanh Hoa     3640128  11130.2
Nghe An       3327791  16493.7
Da Nang       1134310   1284.9
Hue           1128620   5033.2

In [23]:
cities.index

Index(['Ha Noi', 'Thanh Hoa', 'Nghe An', 'Da Nang', 'Hue'], dtype='object')

In [24]:
cities.columns

Index(['population', 'area'], dtype='object')

In [25]:
cities['area']

Ha Noi        3358.9
Thanh Hoa    11130.2
Nghe An      16493.7
Da Nang       1284.9
Hue           5033.2
Name: area, dtype: float64

In [26]:
pd.DataFrame(population, columns=['population'])

           population
Ha Noi        8053663
Thanh Hoa     3640128
Nghe An       3327791
Da Nang       1134310
Hue           1128620

In [29]:
data = [{'a': i, 'b': 2*i}
                    for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [31]:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [32]:
pd.DataFrame({'population': population,
              'area': area})

           population     area
Ha Noi        8053663   3358.9
Thanh Hoa     3640128  11130.2
Nghe An       3327791  16493.7
Da Nang       1134310   1284.9
Hue           1128620   5033.2

In [33]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar'],
            index=['a','b','c'])

        foo       bar
a  0.804076  0.855218
b  0.605931  0.275398
c  0.294168  0.975805

In [34]:
A = np.zeros(3, dtype=[('A','i8'), ('B','f8')])

In [35]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# The Pandas Index Object

In [36]:
ind = pd.Index([2,3,4,6,8])
ind

Int64Index([2, 3, 4, 6, 8], dtype='int64')

In [37]:
ind[1]

3

In [38]:
ind[::2]

Int64Index([2, 4, 8], dtype='int64')

In [39]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [40]:
ind[1]= 0

TypeError: Index does not support mutable operations

In [41]:
indA = pd.Index([1,2,4,5,7])
indB = pd.Index([2,3,4,5,6])

In [42]:
indA & indB

C:\Users\nguye\AppData\Local\Temp/ipykernel_8212/144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB

Int64Index([2, 4, 5], dtype='int64')

In [43]:
indA | indB

C:\Users\nguye\AppData\Local\Temp/ipykernel_8212/3251124211.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  indA | indB

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')