In [1]:
import numpy as np

In [2]:
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [3]:
data = ['lan', 'HOA', 'Duc', 'qUAng']
[s.capitalize() for s in data]

['Lan', 'Hoa', 'Duc', 'Quang']

In [4]:
data = ['lan', 'HOA', None, 'Duc', 'qUAng']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

len() lower() translate() islower()
ljust() upper() startswith() isupper()
rjust() find() endswith() isnumeric()
center() rfind() isalnum() isdecimal()
zfill() index() isalpha() split()
strip() rindex() isdigit() rsplit()
rstrip() capitalize() isspace() partition()
lstrip() swapcase() istitle() rpartition()

In [6]:
import pandas as pd
people = pd.Series(['Le Anh', 'Nguyen Duc', 'Chu Bac', 'Nguyen Quang',
                   'Phan Long', 'Pham Hoai', 'Bui Toan'])

In [7]:
people.str.lower()

0          le anh
1      nguyen duc
2         chu bac
3    nguyen quang
4       phan long
5       pham hoai
6        bui toan
dtype: object

In [8]:
people.str.len()

0     6
1    10
2     7
3    12
4     9
5     9
6     8
dtype: int64

In [11]:
people.str.startswith('N')

0    False
1     True
2    False
3     True
4    False
5    False
6    False
dtype: bool

In [12]:
people.str.split()

0          [Le, Anh]
1      [Nguyen, Duc]
2         [Chu, Bac]
3    [Nguyen, Quang]
4       [Phan, Long]
5       [Pham, Hoai]
6        [Bui, Toan]
dtype: object

In [13]:
people.str.extract('([A-Za-z]+)')

        0
0      Le
1  Nguyen
2     Chu
3  Nguyen
4    Phan
5    Pham
6     Bui

In [14]:
people.str[0:3]

0    Le
1    Ngu
2    Chu
3    Ngu
4    Pha
5    Pha
6    Bui
dtype: object

In [15]:
people.str.split().str.get(-1)

0      Anh
1      Duc
2      Bac
3    Quang
4     Long
5     Hoai
6     Toan
dtype: object

In [18]:
full_people = pd.DataFrame({'name': people,
                           'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C',
                                    'B|C|D','A|B|D']})
full_people

           name   info
0        Le Anh  B|C|D
1    Nguyen Duc    B|D
2       Chu Bac    A|C
3  Nguyen Quang    B|D
4     Phan Long    B|C
5     Pham Hoai  B|C|D
6      Bui Toan  A|B|D

In [19]:
full_people['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1
6  1  1  0  1